{
  "singleQuote": false,
  "printWidth": 200,
  "editor.formatOnSave": false,
  "proseWrap": "always",
  "tabWidth": 2,
  "indent_size": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "semi": true,
  "semicolons": true,
  "endOfLine": "auto",
  "trailingComma": "none"
}
